# Exemple GNOME/Xwayland :
# XAUTHORITY=/run/user/1000/.mutter-Xwaylandauth.XXXXXXXX

XAUTHORITY=/home/votre-utilisateur/.Xauthority

# Répertoire hôte où seront enregistrées les vidéos.
CAPTVTY_DOWNLOADS=/home/votre-utilisateur/Vidéos/Captvty3

# Journal Wine.
WINEDEBUG=-all
